 <span class="glyphicon"
    [class.glyphicon-star]="isFavorite"
    [class.glyphicon-star-empty]="!isFavorite"
    (click)="onClick()"
></span> 

<span class="mat-icon"
    [class.mat-icon-mood_bad]="!isFavorite"
    [class.mat-icon-mood]="isFavorite"
    (click)="onClick()"
></span>
<span class="ng-fa-icon"
    [class.ng-fa-icon-mood_bad]="!isFavorite"
    [class.ng-fa-icon-mood]="isFavorite"
    (click)="onClick()"
></span>
<fa-icon [icon]="faCoffee"></fa-icon>
xpto
<mat-icon>mood</mat-icon>
<br>
xptoll<br>
<span class="material-icons"
    [class.material-icons-arrow_drop_down]="!isFavorite"
    [class.material-icons-arrow_drop_up]="isFavorite"
    (click)="onClick()"
></span>
xptoll<br>


<i class="ng-fa-icon"
[class.ng-fa-icon]="faCoffee"></i>
<i class="material-icons">arrow_drop_down</i>
<div class="navigation">
        <span><i class="material-icons">arrow_drop_down</i></span>
        <span><i class="material-icons">arrow_drop_up</i></span>
        <span class="counter">select floor</span>
      </div>