<h1>Modulo 7</h1>
<h2>Aula 15 - Radio Buttons</h2>
<m07aula15-contact-form></m07aula15-contact-form>
<h2>Aula 14 - Drop Down Lists</h2>
<m07aula14-contact-form></m07aula14-contact-form>
<h2>Aula 13 - Check Box</h2>
<m07aula13-contact-form></m07aula13-contact-form>
<h2>Aula 12 - Disable Submit</h2>
<m07aula12-contact-form></m07aula12-contact-form>
<h2>Aula 10 - ngModeGroup</h2>
<m07aula10-contact-form></m07aula10-contact-form>
<h2>Aula 09 - ngForm</h2>
<m07aula09-contact-form></m07aula09-contact-form>
<h2>Aula 08 - Formatação Código HTML</h2>
<m07aula08-contact-form></m07aula08-contact-form>
<h2>Aula 06 - Multiplas validações para o mesmo campo</h2>
<m07aula06-contact-form></m07aula06-contact-form>
<h2>Aula 05 - Validações</h2>
<m07aula05-contact-form></m07aula05-contact-form>
<h2>Aula 04 - ngModel</h2>
<m07aula04-contact-form></m07aula04-contact-form>
<h2>Aula 02</h2>
<m07aula02-contact-form></m07aula02-contact-form>

