<h1>Modulo 8</h1>
<h2>Aula 13-14 - Form Builder</h2>
<m08aula13-new-course></m08aula13-new-course> 
<h2>Aula 12 - Form Array</h2>
<m08aula12-new-course></m08aula12-new-course> 
<h2>Aula 11 - Nested FormGroups</h2>
<m08aula11-signup-form></m08aula11-signup-form> 
<h2>Aula 10 - Validar Formulário</h2>
<m08aula10-signup-form></m08aula10-signup-form> 
<h2>Aula 09 - Imagem de Carregamento</h2>
<m08aula09-signup-form></m08aula09-signup-form> 
<h2>Aula 08 - Validadores Assincronos</h2>
<m08aula08-signup-form></m08aula08-signup-form> 
<h2>Aula 07 - Operações Assincronas</h2>
<m08aula07-signup-form></m08aula07-signup-form> 
<h2>Aula 06 - Especificações Custom</h2>
<m08aula06-signup-form></m08aula06-signup-form> 
<h2>Aula 05 - Validações especificas</h2>
<m08aula05-signup-form></m08aula05-signup-form> 
<h2>Aula 04 - Adicionar validação</h2>
<m08aula04-signup-form></m08aula04-signup-form> 
<h2>Aula 03 - Criar Controlos "onFly"</h2>
<m08aula03-signup-form></m08aula03-signup-form> 
<h2>Aula 02 - Signup Form</h2>
<m08aula02-signup-form></m08aula02-signup-form> 

<h1>Modulo 7</h1>
<h2>Aula 15 - Radio Buttons</h2>
<m07aula15-contact-form></m07aula15-contact-form>
<h2>Aula 14 - Drop Down Lists</h2>
<m07aula14-contact-form></m07aula14-contact-form>
<h2>Aula 13 - Check Box</h2>
<m07aula13-contact-form></m07aula13-contact-form>
<h2>Aula 12 - Disable Submit</h2>
<m07aula12-contact-form></m07aula12-contact-form>
<h2>Aula 10 - ngModeGroup</h2>
<m07aula10-contact-form></m07aula10-contact-form>
<h2>Aula 09 - ngForm</h2>
<m07aula09-contact-form></m07aula09-contact-form>
<h2>Aula 08 - Formatação Código HTML</h2>
<m07aula08-contact-form></m07aula08-contact-form>
<h2>Aula 06 - Multiplas validações para o mesmo campo</h2>
<m07aula06-contact-form></m07aula06-contact-form>
<h2>Aula 05 - Validações</h2>
<m07aula05-contact-form></m07aula05-contact-form>
<h2>Aula 04 - ngModel</h2>
<m07aula04-contact-form></m07aula04-contact-form>
<h2>Aula 02</h2>
<m07aula02-contact-form></m07aula02-contact-form>

